<h1><%= @stock.company_name %> (<%= @stock.symbol %>)</h1>

<%= link_to 'Home', root_path, class: 'btn btn-secondary' %>

<h2>Price Predictions</h2>

<% if @previous_prediction %>
  <h3>Previous Day's Prediction (<%= @previous_prediction.date.strftime('%Y-%m-%d') %>)</h3>
  <table class="table">
    <tr>
      <th>Predicted Price</th>
      <td><%= number_to_currency(@previous_prediction.predicted_price) %></td>
    </tr>
    <tr>
      <th>Last close Price</th>
      <td><%= number_to_currency(@previous_prediction.actual_price) %></td>
    </tr>
    <tr>
      <th>Previous Day's Prediction</th>
      <td>
        <% if @prediction_successful == true %>
          <p class="text-success"><strong>The prediction was successful!</strong></p>
        <% elsif @prediction_successful == false %>
          <p class="text-danger"><strong>The prediction was not successful.</strong></p>
        <% else %>
          <p class="text-warning"><strong>Not enough data to determine prediction success.</strong></p>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>

<h2>Historical Prices</h2>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
    </tr>
  </thead>
  <tbody>
    <% @historical_prices.each do |price| %>
      <tr>
        <td><%= price.date %></td>
        <td><%= number_to_currency(price.open) %></td>
        <td><%= number_to_currency(price.high) %></td>
        <td><%= number_to_currency(price.low) %></td>
        <td><%= number_to_currency(price.close) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
