<!DOCTYPE html>
<html>
  <head>
    <title>Firstbird</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", type: "module", "data-turbo-track": "reload" %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>

      <% if user_signed_in? %>
        <p>Signed in as <%= current_user.email %>. <%= link_to 'Sign out', destroy_user_session_path, method: :delete %></p>
      <% else %>
        <p><%= link_to 'Sign In', new_user_session_path %> or <%= link_to 'Sign Up', new_user_registration_path %></p>
      <% end %>

      <p><em>Disclaimer: The recommendations provided are based on predictive models and historical data. They do not guarantee future performance. Investing in stocks and options involves risks, including the potential loss of principal. Please consult a financial advisor before making investment decisions.</em></p>
    </main>
  </body>
</html>
